div.commentShadowTop
{
  height: 16px;
  margin-bottom: -16px;
  background-image: url("../../../image/comment_top_shadow.png");
  background-repeat: repeat-x;
  width: 100%;
}
div.commentShadowBottom
{
  height: 16px;
  background-image: url("../../../image/comment_bottom_shadow.png");
  background-repeat: repeat-x;
  width: 100%;
}
div.commentBlock {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #F0EFEF;
}

div.comment {
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid #D6D5D5;
  border-left: 0px;
  border-right: 0px;
}

