button.ActionButton {
  line-height: 150%;
  font-weight: 500;
  font-size: 10pt;
  
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  color: #0085E4;
  border: 1px solid #0085E4;
  border-radius: 3px;
  
  cursor: default;
  -webkit-user-select: none;
  white-space: nowrap;
    
  margin-left: 10px;
  
  background-color: transparent;
}

button.ActionButton:active {
  background-color: #0085E4;
  border: 1px solid transparent;
  color: white;
}
