div.BlockItem {
  background-color: white;
  border: 1px solid #D6D5D5;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin-top: 16px;
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 10pt;
  line-height: 150%;
  box-shadow: 0px 5px 8px #CCC;
}
