html, body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  margin-right: 32px;
}

body::-webkit-scrollbar {
  display: none;
}

table.diff {
  border-collapse: collapse;
}

.diff tr:first-child > td {
  padding-top: 4px;
}

.diff tr:last-child > td {
  padding-bottom: 4px;
}

.diff td {
  padding: 0;
  margin: 0;
  vertical-align: top;
  background-color: white;
}

.diff td > pre {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* Instead use this non-standard one: */
  word-break: break-word;
  font-family: menlo;
  font-size: 11px;
  line-height: 13px;
  min-height: 13px; /* for empty lines */
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.diff .gutter {
  background-color: #F7F7F7;
  font-family: menlo;
  color: #BBB;
  font-size: 10px;
  text-align: right;
  padding-right: 4px;
  padding-left: 8px;
  vertical-align: top;
  width: 30px;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #E7E7E7;
  line-height: 13px;
  user-select: none;
  cursor: default;
}

.diff td.gutter-commentable {
  color: #737373;
}

.diff td.gutter-commentable:hover {
  background-color: blue;
  color: white;
  content: '+';
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.diff td.gutter-commentable:active {
  background-color: #66F;
}

.diff tr > td:first-child {
  border-left: 0;
}

.diff .gutter::selection {
  background: transparent;
}

.diff .cb {
  background-color: white;
  color: black;
  font-family: menlo;
  font-size: 11px;
  font-weight: bold;
  padding-left: 6px;
  user-select: none;
  cursor: default;
  vertical-align: top;
}

.diff .cb::selection {
  background: transparent;
}

.diff .codecol {
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  cursor: text;
}

.diff .unified-codecol {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  cursor: text;
}

.diff .inserted-new,
.diff .cb-plus {
  background-color: #E0FFDF;
}

.diff .deleted-original,
.diff .cb-minus {
  background-color: #FFEDED;
}

.diff .changed-original,
.diff .cb-changed {
  background-color: #E7EEFA;
}

.diff .changed-new,
.diff .cb-changed {
  background-color: #E7EEFA;
}

.diff .char-changed {
  background-color: #FBE4C8;
}

.diff .spacer {
  background-color: #EEE;
}

.diff .search-match
{
  background-color: #FBF7BF;
}

.diff .search-match-highlight { 
  animation-name: search-match-highlight;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
  background-color: #E2D85E;
  text-decoration: underline;
}

@keyframes search-match-highlight {
  0% { 
    background-color: #FBF7BF;
  }
  50% {
    background-color: white;
  }
  100% { 
    background-color: #E2D85E;
  }
}

.selecting-left td.right,
.selecting-left td.right *,
.selecting-left th.right,
.selecting-left th.right *,
.selecting-right td.left,
.selecting-right td.left *,
.selecting-right th.left,
.selecting-right th.left * {
  user-select: none;
}

.selecting-left td.right::selection,
.selecting-left td.right *::selection,
.selecting-left th.right::selection,
.selecting-left th.right *::selection,
.selecting-right td.left::selection,
.selecting-right td.left *::selection,
.selecting-right th.left::selection,
.selecting-right th.left *::selection {
  background: transparent;
}

@import url(./action-button.css);
@import url(./block-item.css);
