body { 
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 10pt;
  line-height: 150%; 
  background-color: #F0EFEF;
  padding: 0px;
  margin: 0px;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  color: #4078C0;
}
a:visited {
  color: #4078C0;
}
a:hover {
  text-decoration: underline;
}
.Clickable:active {
  opacity: 0.7;
  user-select: none;
}
div.IssueHeader {
  font-size: 10pt;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 5px 8px #CCC;
  border-bottom: 1px solid #D6D5D5;
}
div.IssueHeader input {
  font-size: 10pt;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0px;
  width: 100%;
}
div.HeaderSeparator {
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
  margin-top: 4px;
  margin-bottom: 5px;
}
.HeaderLabel {
  color: #797979;
  float: left;
  margin-right: 5px;
  cursor: default;
  -webkit-user-select: none;
  flex: none;
}
div.IssueIdentifier {
  padding-left: 3px;
  font-size: 9pt;
}
span.IssueIdentifierNumber {
  font-weight: bold;
}
div.IssueTitle {
  white-space: nowrap;
  display: flex;  
}
textarea.TitleArea {
  width: 100%;
  font-size: 10pt;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0px;
  margin: 2px;
  margin-bottom: 0px;
  white-space: normal;
  overflow-y: hidden;
}

span.InputSaveButton {
  position: relative;
  top: 1px;
  font-size: 9pt;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 4px;
  color: #CCC;
  cursor: default;
  -webkit-user-select: none;
  white-space: nowrap;
}

div.IssueNumber {
  display: inline-block;
  font-weight: bold;
}
div.IssueInput {
  display: flex;
}

select.IssueState {
  width: 100px;
  position: relative;
  right: -1px;
  margin: 0px;
}

div.activityList {
  position: relative;
}
div.activityList::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 37px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #DDD;
}
hr {
  border: 1px solid #CCC;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #CCC;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
}
code {
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 10pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}
pre { 
  padding: 13px;
  background-color: #F7F7F7;
  border-radius: 6px; 
  font-size: 10pt;
  font-family: menlo, consolas, monaco, sans-serif;
  line-height: 130%;
  overflow-x: auto;
}
pre > code {
  padding: 0;
  background-color: inherit;
  border-radius: 0;
}
div.comment {
  background-color: white;
  border: 1px solid #D6D5D5;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0px 5px 8px #CCC;
}
div.commentBody {
  padding-left: 12px;
  padding-right: 12px;
}
div.commentBody h1 {
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
div.commentBody blockquote {
  margin: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd
}
div.commentBody img {
  max-width: 100%;
}
div.commentHeader {
  height: 32px;
  margin-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 32px;
  font-size: 10pt;
  border-bottom: 1px solid #EFEFEF;
}
div.commentHeader img {
  margin-right: 12px;
  float: left;
}
span.commentAuthor {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.commentAuthor:hover {
  text-decoration: underline;
}

span.commentTimeAgo {
  color: #767676;
}
ul.taskList {
  list-style: none;
  margin-left: -20px;
  line-height: 200%;
}
ul.taskList input {
  position: relative;
  top: -1px;
}
div.commentControls {
  display: inline-block;
  float: right;
  padding-right: 1px;
  padding-left: 10px;
  -webkit-user-select: none;
}
div.commentControls i {
  margin-left: 16px;
  color: #BBB;
}
div.commentControls i:hover {
  color: #0085E4;
}

div.event {
  position: relative; 
  margin-left: 37px;
  margin-right: 10px;
  font-size: 10pt;
  
  min-height: 30px;
  line-height: 20px;
  vertical-align: middle;
  
  box-sizing: border-box;
  
  padding-top: 14px;
  padding-bottom: 9px;
  
  border-bottom: 1px solid #DDD;
  
  color: #555555;
/*         background-color: blue; */
}

div.eventFirst {
  padding-top: 18px;
}

div.eventLast {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: -2px;
}

div.eventVeryLast::after {
  position: absolute;
  content: "";
  left: -27px;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #DDD;
}

i.eventIcon {
  border: 1px solid #F0EFEF;
  background-color: #F0EFEF;
  margin-top: -2px;
  margin-left: -8px;
  font-size: 20px;
  display: inline-block;
  width: 24px;
  text-align: left;
  vertical-align: middle;
  float: left;
}

div.eventContent {
  padding-left: 28px;
}

div.event img {
  border-radius: 4px;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  margin-bottom: 6px;
}

span.eventUser {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.eventUser:hover {
  text-decoration: underline;
}

div.debugLoader {
  margin-left: 20px;
  margin-top: 20px;        
}

span.LabelContainer {
  white-space: nowrap;
  cursor: default;
}

span.label {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: black;
  -webkit-user-select: none;
}

span.LabelDelete {
  padding-left: 6px;
  padding-right: 6px;
  cursor: default;
  padding-top: 4px;
  padding-bottom: 3px;
  font-weight: normal;
  font-size: 8pt;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
  background-color: #333;
  -webkit-user-select: none;
}

span.eventTitle {
  font-weight: bold;
}

.twitter-typeahead {
  width: 100%;
}
.tt-hint {
  color: #999
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
}
.tt-menu {
  max-height: 178px;
  overflow-y: auto;
  width: 300px;
  margin: 0px -3px;
  padding: 0px 0;
  background-color: #ECECEC;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-dropdown-menu {
  max-height: 180px;
  overflow-y: auto;
}
.tt-suggestion {
  padding: 0px;
  padding: 2px 3px;
  font-size: 10pt;
}
.tt-suggestion:hover {
  cursor: pointer;
  background-color: #DDD;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0069D9;
}
.tt-suggestion p {
  margin: 0;
}

.AddLabel {
  color: #0085E4;
  -webkit-user-select: none;
  margin-left: 2px;
  margin-right: 2px;
}
.AddLabel i {
  font-size: 12pt;
  margin: 0px;
}
.AddLabelEmpty {
  min-height: 8px;
  display: inline-block;  
}

div.IssueLabels {
  line-height: 24px;
  min-height: 27px;
}
div.IssueLabels span {
  cursor: default;
}

div.IssueLabels .typeahead,
div.IssueLabels .tt-query,
div.IssueLabels .twitter-typeahead {
  width: 100px;
  padding: 0px;
  padding-top: 2px;
  margin: 0px;
}

div.IssueLabels .tt-hint {
  width: 100px;
  padding: 0px;
  padding-top: 4px;
  color: #999;
}

div.IssueLabels .tt-suggestion {
  padding: 0px;
  margin: 0px;
}

div.IssueLabels .tt-suggestion p {
  padding: 0px;
}

div.IssueLabels .LabelContainer {
  position: relative;
  top: -2px;
}

.LabelPicker {
  display: inline-block;
}

.LabelPicker i {
  position: relative;
  top: -2px;
  margin: 0px;
  padding: 1px;
  margin-right: 4px;
}

.LabelSuggestionColor {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border: 0.5px solid black;
}

.tt-label-suggestion-text {
  position: relative;
  top: -1px;
}

.addCommentLabel {
  color: #555555;
  font-weight: bold;
  cursor: default;
}

.CodeMirrorContainer {
  margin: 8px;
  min-height: 28px;
}

.CodeMirror {
  height: auto;
  min-height: 28px;
  font-family: menlo, consolas, monaco, monospace;
  font-size: 9pt;
}

.CodeMirror pre.CodeMirror-placeholder { color: #999; }

/* Use system highlight color for selected text */
.CodeMirror-focused .CodeMirror-selected { background: Highlight; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: Highlight; }

.commentFooter {
  text-align: right;
  height: 40px;
  border-top: 1px dotted #ECECEC;
  padding-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.addCommentButton {
  display: inline-block;
  
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  color: #555;
  border: 1px solid #555;
  border-radius: 3px;
  
  cursor: default;
  -webkit-user-select: none;
  white-space: nowrap;
  
  margin-left: 10px;
}

.addCommentSaveButton {
  color: #0085E4;
  font-weight: bold;
  border: 1px solid #0085E4;
}

.addCommentSaveButtonDisabled {
  color: #CCC;
  border: 1px solid #CCC;
}

.commentUploadingLabel {
  color: #555;
}

.commentFooter i {
  font-size: 14px;
  color: #555;
}

.formattingHelpButton {
  float: left;
  font-size: 17px;
  color: #BBB;
  position: relative;
  top: 7px;
}
.formattingHelpButton:hover {
  text-decoration: none;
}
.formattingHelpButton:visited {
  color: #BBB;
}

.confirmCommentDelete {
  color: #555;
  cursor: default;
  -webkit-user-select: none;
  white-space: nowrap;
}

.confirmDeleteControl:hover {
  color: #0085E4;
}

.shaLink {
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.shaLink:hover {
  text-decoration: underline;
}
