body { 
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 10pt;
  line-height: 150%; 
  background-color: #F0EFEF;
  padding: 0px;
  margin: 0px;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  color: #4078C0;
}
a:visited {
  color: #4078C0;
}
a:hover {
  text-decoration: underline;
}
.Clickable:active {
  opacity: 0.7;
  user-select: none;
}
div.IssueHeader {
  font-size: 10pt;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 5px;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 5px 8px #CCC;
  border-bottom: 1px solid #D6D5D5;
}
div.IssueHeader input {
  font-size: 10pt;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0px;
  width: 100%;
}
div.HeaderSeparator {
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
  margin-top: 4px;
  margin-bottom: 5px;
}
.HeaderLabel {
  color: #797979;
  float: left;
  margin-right: 5px;
  cursor: default;
  -webkit-user-select: none;
  flex: none;
}
div.IssueIdentifier {
  padding-left: 3px;
  font-size: 9pt;
}
span.IssueIdentifierNumber {
  font-weight: bold;
}
div.IssueTitle {
  white-space: nowrap;
  display: flex;  
}
textarea.TitleArea {
  width: 100%;
  font-size: 10pt;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0px;
  margin: 2px;
  margin-bottom: 0px;
  white-space: normal;
  overflow-y: hidden;
}

span.InputSaveButton {
  position: relative;
  top: 1px;
  font-size: 9pt;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 4px;
  color: #CCC;
  cursor: default;
  -webkit-user-select: none;
  white-space: nowrap;
}

div.IssueNumber {
  display: inline-block;
  font-weight: bold;
}
div.IssueInput {
  display: flex;
}

select.IssueState {
  width: 70px;
  min-width: 70px;
  position: relative;
  right: -1px;
  margin: 0px;
}

span.MilestoneDueDate {
  font-size: 9pt;
  color: #A9A9A9;
  white-space: nowrap;
}

i.toggleMultiAssignee {
  cursor: default;
  -webkit-user-select: none;
  color: #BBB;
  position: relative;
  top: 3px;
}

.MultipleAssignees {
  padding: 0px;
  margin: 0px;
  margin-top: -2px;
}

.AssigneesPicker {
  display: inline-block;
}

.AssigneesPicker i.AddAssignee {
  color: #BBB;
  -webkit-user-select: none;
  margin: 0px;
  margin-right: 4px;
}

.AddAssigneesEmpty {
  min-height: 8px;
  display: inline-block;  
}

.AssigneeAtom {
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  border-radius: 2px;
  height: 20px;
  min-height: 20px;
  font-weight: bold;
  color: white;
  background-color: #0085E4;
  -webkit-user-select: none;
  white-space: nowrap;
}

.AssigneeAtomName {
  -webkit-user-select: none;
  cursor: default;
}

.AssigneeAtomDelete {
  padding-left: 8px;
  padding-right: 0px;
  cursor: default;
  font-weight: normal;
  font-size: 8pt;
  -webkit-user-select: none;
}

div.activityList {
  position: relative;
}
div.activityList::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 37px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #DDD;
}



div.event {
  position: relative; 
  margin-left: 37px;
  margin-right: 10px;
  font-size: 10pt;
  
  min-height: 30px;
  line-height: 20px;
  vertical-align: middle;
  
  box-sizing: border-box;
  
  padding-top: 14px;
  padding-bottom: 9px;
  
  border-bottom: 1px solid #DDD;
  
  color: #555555;
/*         background-color: blue; */
}

div.eventFirst {
  padding-top: 18px;
}

div.eventLast {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: -2px;
}

div.eventVeryLast::after {
  position: absolute;
  content: "";
  left: -27px;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #DDD;
}

i.eventIcon {
  border: 1px solid #F0EFEF;
  background-color: #F0EFEF;
  margin-top: -2px;
  margin-left: -8px;
  font-size: 20px;
  display: inline-block;
  width: 24px;
  text-align: left;
  vertical-align: middle;
  float: left;
}

div.eventContent {
  padding-left: 28px;
}

div.event img.avatar {
  border-radius: 4px;
  background-color: #F0F0F0;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  margin-bottom: 6px;
}

span.eventUser {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.eventUser:hover {
  text-decoration: underline;
}

div.debugLoader {
  margin-left: 20px;
  margin-top: 20px;        
}

span.LabelContainer {
  white-space: nowrap;
  cursor: default;
}

span.label {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: black;
  -webkit-user-select: none;
}

span.LabelDelete {
  padding-left: 8px;
  padding-right: 0px;
  cursor: default;
  font-weight: normal;
  font-size: 8pt;
  -webkit-user-select: none;
}

span.LabelDelete i {
  position: relative;
  top: -1px;
}

span.eventTitle {
  font-weight: bold;
}

span.eventBranch {
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

span.issueState {
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-weight: bold;  
  margin-left: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-user-select: none;
}

span.issueStateOpen {
  background-color: #6cc644;
}

span.issueStateClosed {
  background-color: #bd2c00;
}

span.issueStateMerged {
  background-color: #6e5494;
}

a.issueTitle {
  font-size: 14px;
  color: #333;
}

a.issueTitle:hover {
  color: #4078C0;
}

a.issueTitle:hover span.issueNumber {
  color: #4078C0;
}

a.issueTitle span.issueNumber {
  font-size: 15px;
  color: #555;
}

.twitter-typeahead {
  width: 100%;
}
.tt-hint {
  color: #999
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
}
.tt-menu {
  max-height: 178px;
  overflow-y: auto;
  width: 300px;
  margin: 0px -3px;
  padding: 0px 0;
  background-color: #ECECEC;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-dropdown-menu {
  max-height: 180px;
  overflow-y: auto;
}
.tt-suggestion {
  padding: 0px;
  padding: 2px 3px;
  font-size: 10pt;
}
.tt-suggestion:hover {
  cursor: pointer;
  background-color: #DDD;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0069D9;
}
.tt-suggestion p {
  margin: 0;
}

span.AssigneesPicker .typeahead,
span.AssigneesPicker .tt-query,
span.AssigneesPicker .twitter-typeahead {
  width: 140px;
  padding: 0px;
  padding-top: 2px;
  margin: 0px;
}

span.AssigneesPicker .tt-hint {
  width: 140px;
  padding: 0px;
  padding-top: 4px;
  color: #999;
}

.AddLabel {
  color: #0085E4;
  -webkit-user-select: none;
  margin-left: 2px;
  margin-right: 2px;
}
.AddLabel i {
  font-size: 12pt;
  margin: 0px;
}
.AddLabelEmpty {
  min-height: 8px;
  display: inline-block;  
}

div.IssueLabels {
  margin-top: -1px;
  line-height: 24px;
  min-height: 26px;
}
div.IssueLabels span {
  cursor: default;
}

div.IssueLabels .typeahead,
div.IssueLabels .tt-query,
div.IssueLabels .twitter-typeahead {
  width: 100px;
  padding: 0px;
  padding-top: 2px;
  margin: 0px;
}

div.IssueLabels .tt-hint {
  width: 100px;
  padding: 0px;
  padding-top: 4px;
  color: #999;
}

div.IssueLabels .tt-suggestion {
  padding: 0px;
  margin: 0px;
}

div.IssueLabels .tt-suggestion p {
  padding: 0px;
}

div.IssueLabels .LabelContainer {
  position: relative;
  top: -2px;
}

.LabelPicker {
  display: inline-block;
}

.LabelPicker i.AddLabel {
  position: relative;
  top: -2px;
  margin: 0px;
  padding: 1px;
  margin-right: 4px;
}

.LabelSuggestionColor {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border: 0.5px solid black;
}

.LabelPicker i.NewLabelSuggestionIcon {
  color: #333;
  display: inline-block;
  margin-left: 5px;
  margin-right: 4px;
}

.tt-label-suggestion-text {
  position: relative;
  top: -1px;
}

.tt-suggestion .no-highlight > .tt-highlight {
  font-weight: normal;
}

.tt-suggestion .no-highlight > .highlight {
  font-weight: bold;
}


.shaLink {
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.shaLink:hover {
  text-decoration: underline;
}

a.referencedCommitSubject {
  color: #333;
  font-family: menlo, consolas, monaco, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  word-break: break-all;
}

button.referencedCommitExpander {
  background-color: #ddd;
  border: 0;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  height: 13px;
  line-height: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  vertical-align: middle;
}

button.referencedCommitExpander:hover {
  background-color: #4078C0;
  color: #fff;
}

pre.referencedCommitBody {
  background-color: inherit;
  display: inline-block;
  font-family: menlo, consolas, monaco, sans-serif;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  padding: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

