.hljs {
  display: block;
  overflow-x: auto;
  background: #fff;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #008400;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #BB2CA2;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #D12F1B;
}

.hljs-regexp,
.hljs-link {
  color: #0E0EFF;
}

.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #1C00CF;
}

.hljs-section,
.hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #703DAA;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-meta {
  color: #78492A;
}

.hljs-meta-string {
  color: #D12F1B;
}
