div.commentShadowTop
{
  height: 16px;
  margin-bottom: -16px;
  background-image: url("../image/comment_top_shadow.png");
  background-repeat: repeat-x;
  width: 100%;
}
div.commentShadowBottom
{
  height: 16px;
  background-image: url("../image/comment_bottom_shadow.png");
  background-repeat: repeat-x;
  width: 100%;
}
div.commentBlock {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #F0EFEF;
}
div.comment {
  background-color: white;
  border: 1px solid #D6D5D5;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 10pt;
  line-height: 150%;
  box-shadow: 0px 5px 8px #CCC;
}
div.commentBody hr {
  border: 1px solid #CCC;
}
div.commentBody th, 
div.commentBody td {
  border: 1px solid #CCC;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
}
div.commentBody table {
  margin-bottom: 1em;
  margin-top: 1em;
  border-collapse: collapse;
  display: block;
  overflow: auto;
  border: 0;
  padding: 1px;
}
div.commentBody code {
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}
div.commentBody pre { 
  padding: 13px;
  background-color: #F7F7F7;
  border-radius: 6px; 
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  line-height: 130%;
  overflow-x: auto;
}
div.commentBody pre > code {
  padding: 0;
  background-color: inherit;
  border-radius: 0;
}
div.commentEmptyFooter {
  height: 2px;
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
}
div.commentBody {
  padding-left: 12px;
  padding-right: 12px;
}
div.commentBody h1 {
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
div.commentBody blockquote {
  margin: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd
}
div.commentBody a {
  overflow-wrap: break-word;
}
div.commentBody img, video {
  display: block;
  max-width: 100%;
  height: auto;
}
div.commentHeader {
  height: 32px;
  margin-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 32px;
  font-size: 10pt;
  border-bottom: 1px solid #EFEFEF;
}
div.commentHeader img {
  margin-right: 12px;
  background-color: #F0F0F0;
  float: left;
}
span.commentAuthor {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.commentAuthor:hover {
  text-decoration: underline;
}

span.commentTimeAgo {
  color: #767676;
}
ul.taskList {
  list-style: none;
  margin-left: -20px;
  line-height: 200%;
}
ul.taskList input {
  position: relative;
  top: -1px;
}
ul.taskList li:hover .taskHandle {
  opacity: 1.0;
}
.taskHandle {
  opacity: 0;
  color: #BBB;
  margin-left: -16px;
  padding-right: 4px;
}
.taskGhost {
  opacity: 0.0;
}
div.commentControls {
  display: inline-block;
  float: right;
  padding-right: 1px;
  padding-left: 10px;
  -webkit-user-select: none;
}
div.commentControls i {
  margin-left: 16px;
  color: #BBB;
}
div.commentControls i:hover {
  color: #0085E4;
}
