div.commitGroup {

}

div.commitGroupHeader {
  height: 32px;
  margin-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 32px;
  max-height: 39px;
  overflow: hidden;
  font-size: 10pt;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

div.commitGroupHeaderDetails {
  flex-shrink: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.commitGroupHeaderActions {
  flex-shrink: 0;
}

span.commitGroupIcon {
  display: inline-block;
  margin-right: 12px;
  margin-top: -2px;
  font-size: 36px;
  color: #555555;
  float: left;
}
span.commitGroupAuthor {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.commitGroupAuthor:hover {
  text-decoration: underline;
}

span.commitGroupTimeAgo {
  color: #767676;
}

table.commitGroupTable {
  position: relative;
  border: 0px;
  border-collapse: collapse;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 21px;
  margin-right: 10px;
}

table.commitGroupTable::before {
  position: absolute;
  top: 10px;
  bottom: 5px;
  left: 6px;
  display: block;
  width: 2px;
  content: "";
  background-color: #DDD;
}

table.commitGroupTable td {
  vertical-align: top;
}

td.commitItemMessage {
  width: 100%;
  max-width: 100%;
}

i.commitStatusIconPending,
i.commitStatusIconUnknown {
  color: #767676;
}

i.commitStatusIconSuccess {
  color: #2CBE4E;
}

i.commitStatusIconFailure {
  color: #CB2431;
}

img.commitItemBullet {
  position: relative;
  top: 2px;
  margin-right: 8px;
  background-color: white;
}

a.commitItemHash {
  cursor: pointer;
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

span.commitItemMsg {
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  
}

div.CommitStatusTable {

}

div.CommitStatusTableRow {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

div.CommitTableStatus {
  margin-right: 22px;
  flex-shrink: 1;
}

div.CommitTableStatusInfo {
  flex-grow: 2;
  flex-shrink: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
}

div.CommitTableStatusInfo a {
  text-decoration: none;
}

div.CommitTableStatusInfo a:hover {
  text-decoration: none;
}

div.CommitTableLink {
  flex-shrink: 1;
}

span.CommitTableStatusContext {
  font-weight: bold;
  color: #555;
}

span.CommitTableStatusDescription,
span.CommitTableStatusContextSeparator {
  color: #555;
}

div.CommitTableLink a {
  color: #BBB;
  text-decoration: none;
}

div.CommitTableLink a:hover {
  text-decoration: none;
}
