div.commitGroup {
  background-color: white;
  border: 1px solid #D6D5D5;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin-top: 16px;
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 10pt;
  line-height: 150%;
  box-shadow: 0px 5px 8px #CCC;
}

div.commitGroupHeader {
  height: 32px;
  margin-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 32px;
  max-height: 39px;
  overflow: hidden;
  font-size: 10pt;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

div.commitGroupHeaderDetails {
  flex-shrink: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.commitGroupHeaderActions {
  flex-shrink: 0;
}

span.commitGroupIcon {
  display: inline-block;
  margin-right: 12px;
  margin-top: -2px;
  font-size: 36px;
  color: #555555;
  float: left;
}
span.commitGroupAuthor {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.commitGroupAuthor:hover {
  text-decoration: underline;
}

span.commitGroupTimeAgo {
  color: #767676;
}

table.commitGroupTable {
  position: relative;
  border: 0px;
  border-collapse: collapse;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 21px;
  margin-right: 10px;
}

table.commitGroupTable::before {
  position: absolute;
  top: 10px;
  bottom: 5px;
  left: 6px;
  display: block;
  width: 2px;
  content: "";
  background-color: #DDD;
}

table.commitGroupTable td {
  vertical-align: top;
}

td.commitItemMessage {
  width: 100%;
  max-width: 100%;
}

i.commitStatusIconPending,
i.commitStatusIconUnknown {
  color: #767676;
}

i.commitStatusIconSuccess {
  color: #2CBE4E;
}

i.commitStatusIconFailure {
  color: #CB2431;
}

img.commitItemBullet {
  position: relative;
  top: 2px;
  margin-right: 8px;
  background-color: white;
}

a.commitItemHash {
  cursor: pointer;
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

span.commitItemMsg {
  font-size: 9pt;
  font-family: menlo, consolas, monaco, sans-serif;
  
}

table.PRSummaryCommitStatusTable {
  margin-left: 80px;
  width: calc(100% - 80px);
  min-width: calc(100% - 80px);
}

table.CommitStatusTable tr {
  border-bottom: 1px solid #ECECEC;
}

table.CommitStatusTable tr:last-child {
  border-bottom: 0px;
}

table.CommitStatusTable td {
  vertical-align: top;
}

td.CommitTableStatus {

}

td.CommitTableContext {
  white-space: nowrap;
  overflow: ellipsis;
  padding-right: 4px;
}

td.CommitTableStatusDescription {
  color: #A9A9A9;
  width: 100%;
}

td.CommitTableLink a {
  color: #BBB;
  text-decoration: none;
}

td.CommitTableLink a:hover {
  text-decoration: none;
}
