table.diffHunk {
  margin-left: -10px;
  margin-right: -10px;
  border-collapse: collapse;
  width: calc(100% + 20px);
  max-width: calc(100% + 20px);
}

table.diffHunk th {
  text-align: left;
  font-family: menlo;
  font-size: 12px;
  padding-left: 20px;
  font-weight: 100;
  border-bottom: 1px solid #E7E7E7;
  border-top: 1px solid #E7E7E7;
  background-color: #F7F7F7;
}

table.diffHunk tr:first-child > td {
  padding-top: 2px;
}

table.diffHunk tr:last-child > td {
  padding-bottom: 2px;
  border-bottom: 1px solid #E7E7E7;
}

table.diffHunk td {
  padding: 0;
  margin: 0;
  vertical-align: top;
  background-color: var(--ctheme-background-color, white);
}

table.diffHunk td > pre {
  color: var(--ctheme-color-xcode-syntax-plain, black);
  cursor: var(--ctheme-code-cursor, text);
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* Instead use this non-standard one: */
  word-break: break-word;
  font-family: var(--ctheme-font-family, menlo);
  font-size: var(--ctheme-font-size, 11px);
  line-height: var(--ctheme-line-height, 13px);
  min-height: var(--ctheme-line-height, 13px); /* for empty lines */
  width: 100%;
}

/* 
table.diffHunk td > pre::selection {
  background-color: var(--ctheme-selection-color, Highlight);
}
 */

tr.DiffHunkContextLine td {
  background-color: var(--ctheme-background-color, #E7EEFA);
}

table.diffHunk .gutter {
  background-color: var(--ctheme-gutter-background-color, #F7F7F7);
  font-family: menlo;
  color: var(--ctheme-gutter-color, #BBB);
  font-size: var(--ctheme-gutter-font-size, 10px);
  text-align: right;
  padding-right: 4px;
  padding-left: 8px;
  vertical-align: top;
  width: 30px;
  border-left: var(--ctheme-gutter-border-left, 1px solid #B3B3B3);
  border-right: var(--ctheme-gutter-border-right, 1px solid #E7E7E7);
  line-height: var(--ctheme-line-height, 13px);
  user-select: none;
  cursor: default;
}

table.diffHunk tr > td:first-child {
  border-left: 0;
}

table.diffHunk .gutter::selection {
  background: transparent;
}

table.diffHunk .gutter-navigable {
  cursor: pointer;
}

table.diffHunk .gutter-navigable:hover {
  color: var(--ctheme-gutter-navigable-color, #737373);
}

table.diffHunk .unified-codecol {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  cursor: text;
}

table.diffHunk .inserted-new,
table.diffHunk .cb-plus {
  background-color: var(--ctheme-background-color-inserted, #E0FFDF);
}

table.diffHunk .deleted-original,
table.diffHunk .cb-minus {
  background-color: var(--ctheme-background-color-deleted, #FFEDED);
}

table.diffHunk .changed-original,
table.diffHunk .cb-changed {
  background-color: var(--ctheme-background-color-changed, #E7EEFA);
}

table.diffHunk .changed-new,
table.diffHunk .cb-changed {
  background-color: var(--ctheme-background-color-changed, #E7EEFA);
}

table.diffHunk .char-changed {
  background-color: var(--ctheme-background-color-char-changed, #FBE4C8);
}

table.diffHunk .spacer {
  background-color: var(--ctheme-background-color-spacer, #EEE);
}

a.DiffHunkCollapse {
  cursor: default;
  margin-right: 20px;
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 11px;
  color: #555;
  -webkit-user-select: none;
  user-select: none;
  float: right;
}

a.DiffHunkCollapse:hover {
  color: #0085E4;
  text-decoration: none;
}

a.DiffHunkCollapse::selection {
  background: transparent;
}


