.PRActionsBar {
  padding-top: 4px;
  padding-bottom: 4px;
}

.PRActionsBarButtons {
  text-align: right;
}

button.PRMergeChangesButton {
  color: #2CBE4E;
  border: 1px solid #2CBE4E;
}

button.PRMergeChangesButton:active {
  background-color: #2CBE4E;
  border: 1px solid transparent;
  color: white;
}

button.PRMergeChangesButtonDisabled {
  color: #CCC;
  border: 1px solid #CCC;
}

button.PRMergeChangesButtonDisabled:active {
  background-color: transparent;
  color: #CCC;
  border: 1px solid #CCC;
}

.PRMergeChangesButton svg {
  position: relative;
  top: 3px;
  margin-right: 2px;
}

.PRChangeSummary {
  float: left;
  font-size: 12px;
  line-height: 14px;
  padding-top: 2px;
  cursor: default;
}

.PRChangedFiles {
  color: #555;
}

.PRChangedLines {

}

.PRChangedLinesLabel {
  font-weight: 700;
  font-size: 11px;
}

.PRChangeBox {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 1px;
}
