div.PRSummary {
  width: 100%;
/*   background-color: red; */
  display: inline-block; 
}

span.PRSummaryRef {
  font-family: menlo, consolas, monaco, sans-serif;
  font-size: 12px;
}

div.PRSummaryCommitStatus {
  display: inline-block;
  white-space: nowrap;
/*   background-color: blue; */
}

i.PRSummaryCommitStatusCaret {
  position: relative;
  top: 2px;
  padding-left: 2px;
  color: #BBB;
}

div.PRSummaryCommitStatuses {
  display: block;
}


