div.review {
  
}

div.reviewHeader {
  height: 32px;
  margin-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 32px;
  max-height: 39px;
  overflow: hidden;
  font-size: 10pt;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

div.reviewHeaderDetails {
  flex-shrink: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.reviewHeaderActions {
  flex-shrink: 0;
}

button.reviewDeletePendingButton {
  color: #555;
  border: 1px solid #555;
  font-weight: 400;
}

span.reviewIcon {
  display: inline-block;
  margin-right: 11px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  background-color: #555555;
  border-radius: 6px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

span.reviewIcon i {
  position: relative;
  top: -2px;
}

div.reviewHeader img.avatar {
  border-radius: 4px;
  background-color: #F0F0F0;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  margin-bottom: 6px;
}

span.reviewAuthor {
  color: #555555;
  font-weight: bold;
  cursor: default;
}
span.reviewAuthor:hover {
  text-decoration: underline;
}

span.reviewTimeAgo {
  color: #767676;
}

span.reviewAction {
  color: #767676;
}

div.reviewSummaryPlaceholder {
  height: 12px;
}

div.reviewComment {
  background-color: white;
  border: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  font-family: -apple-system, Helvetica, Arial, Sans-Serif; 
  font-size: 10pt;
  line-height: 150%;
  box-shadow: initial;  
  margin-top: 0px;
}

div.reviewComment div.commentHeader {
  height: 16px;
  margin-top: 10px;
  padding-bottom: 2px;
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  line-height: 16px;
  font-size: 10pt;
  border-bottom: 0px;
}

div.reviewComment div.commentHeader img {
  width: 16px;
  height: 16px;
}

div.reviewComment div.commentBody > p {
  margin-top: 8px;
  margin-bottom: 8px;
}

div.reviewComment div.commentHeader .addReactionClose {
  position: relative;
  top: -10px;
}

div.reviewComment div.commentControls {
/*   transition: opacity 200ms ease-in-out; */
  opacity: 0.0;
}

div.reviewComment:hover div.commentControls {
  opacity: 1.0;
}

div.reviewAddReply {
  border: 1px solid #CCC;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px;
  border-radius: 3px;
  height: 22px;
  margin-bottom: 16px;
  margin-top: 2px;
  cursor: text;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: inset 0px 0px 3px #DDD;
}

div.reviewAddReply img {
  margin: 3px;
  float: left;
}

div.reviewAddReply span {
  color: #767676;
  position: relative;
  top: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

div.reviewCodeCommentSavingReply {
  border: 1px solid #CCC;
  color: #767676;
  margin-left: 12px;
  margin-right: 12px;
  padding: 3px;
  border-radius: 3px;
  height: 22px;
  margin-bottom: 16px;
  margin-top: 2px;
  cursor: text;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: inset 0px 0px 3px #DDD;
  
}

a.reviewToggle {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}